
<%= form_with(model: client, class: "needs-validation") do |form| %>
  <% if client.errors.any? %>
    <div class="alert alert-danger">
      <h4 class="alert-heading"><%= pluralize(client.errors.count, "error") %> prohibieron que este cliente fuera guardado:</h4>
      <ul>
        <% client.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>

  <div class="mb-3">
    <%= form.label :name, "Nombre", class: "form-label" %>
    <%= form.text_field :name, class: "form-control", placeholder: "Ingrese el nombre" %>
  </div>

  <div class="mb-3">
    <%= form.label :age, "Edad", class: "form-label" %>
    <%= form.text_field :age, class: "form-control", placeholder: "Ingrese la edad" %>
  </div>

  <div class="mb-3">
    <%= form.submit "Guardar", class: "btn btn-primary" %>
  </div>
<% end %>

